In [1]:
from thermo.recommender import Recommender
from datetime import date
TIMESLOTS=3

In [2]:
recommender = Recommender.from_config(school_name = "demo_school", n_time_slots=TIMESLOTS)

In [3]:
recommendation = recommender.run(day=date.today())

In [4]:
print(recommendation)

     Room A  Room B  Room C  Room D  Room E  Room F  Room G  Room H  Room I
t_0  BOOKED     0.0  BOOKED     0.0     0.5     1.0  BOOKED     1.0     0.5  \
t_1     0.5     1.0  BOOKED     0.5     1.0     1.0     0.5     0.5  BOOKED
t_2     1.0     1.0     0.5     1.0     1.0     1.0     1.0     1.0     0.5

     Room J
t_0     0.0
t_1     0.5
t_2     1.0

In [5]:
recommendation.show()

In [6]:
recommendation.top_recommendations()

   Time Slot    Room  Score
3        t_0  Room B    0.0
9        t_0  Room D    0.0
27       t_0  Room J    0.0
12       t_0  Room E    0.5
24       t_0  Room I    0.5
1        t_1  Room A    0.5
10       t_1  Room D    0.5
19       t_1  Room G    0.5
22       t_1  Room H    0.5
28       t_1  Room J    0.5
8        t_2  Room C    0.5
26       t_2  Room I    0.5
15       t_0  Room F    1.0
21       t_0  Room H    1.0
4        t_1  Room B    1.0
13       t_1  Room E    1.0
16       t_1  Room F    1.0
2        t_2  Room A    1.0
5        t_2  Room B    1.0
11       t_2  Room D    1.0
14       t_2  Room E    1.0
17       t_2  Room F    1.0
20       t_2  Room G    1.0
23       t_2  Room H    1.0
29       t_2  Room J    1.0